{% extends 'layouts/application.html' %}

{% block content %}
<div class="content">
  <div class="box hover" data-check="false">
    <span>Hover</span>
  </div>
  <div class="box click" data-check="false">
    <span>click</span>
  </div>
  <div class="box double" data-check="false">
    <span>Double Click</span>
  </div>
  <div class="box right" data-check="false">
    <span>Right Click</span>
  </div>
  <div class="box scroll" data-check="false">
    <span>Scroll</span>
  </div>
  <div class="box scrollClick" data-check="false">
    <span>Scroll Click</span>
  </div>
</div>
<div class="success">
  <span>Tebrikler, Faren Çalışıyor</span>
</div>
{% endblock %}
