@import "base/typography";

body {
  background-color: #ecf0f1;
  margin: 0;
  #app {

    .content {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .box {
        display: flex;
        background-color: #fff;
        justify-content: center;
        text-align: center;
        width: 150px;
        height: 150px;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
        border-radius: 5px;
        margin: 30px;
        align-items: center;
        &.scroll {
          overflow-y: scroll;
          span {
            display: flex;
            height: 155px;
            justify-content: center;
            align-items: center;
          }
        }
      }

    }
    .success {
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #be0027;
      display: flex;
      color: #fff;
      font-size: 40px;
      text-align: center;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
